<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ridva/Desktop/IdeaProjects/TechtorialB7/run.xml">

        <parameter name="username" value="cekoFromXml"></parameter>
        <parameter name="password" value="ridvanFromXML"></parameter>

        <classes>
            <class name="test.java.selenium.testng.TestAnnotation" />
            <class name="test.java.selenium.testng.TestNGIntro" />
            <class name="test.java.selenium.testng.GoogleSearch" />
            <class name="test.java.selenium.testng.SoftAssertion" />
            <class name="test.java.selenium.testng.Parameterization" />

            <class name="test.java.selenium.screenshots.ScreenshotIntro" />
            <class name="test.java.selenium.screenshots.ScreenshotTask" />


        </classes>
    </test>
</suite>